
PredatorProject/Library/ArtifactDB
PredatorProject/Library/ArtifactDB-lock
PredatorProject/Library/Search/transactions.db
PredatorProject/Library/ShaderCache.db
PredatorProject/Library/SourceAssetDB
PredatorProject/Library/SourceAssetDB-lock
PredatorProject/Logs/AssetImportWorker0.log
PredatorProject/Logs/AssetImportWorker1.log
PredatorProject/Logs/shadercompiler-AssetImportWorker0.log
PredatorProject/Logs/shadercompiler-UnityShaderCompiler.exe0.log
PredatorProject/Temp/FSTimeGet-c7b10e11468ea99419690024f387d380
PredatorProject/Temp/FSTimeGet-e648c0d9762c8c640845c548ed961a88
PredatorProject/Temp/FSTimeGet-f2e4fb4b372c0c14b8f54f41c14cde42
PredatorProject/Temp/UnityLockfile
