
*.meta
*.graph
PredatorProject/Library/ArtifactDB
PredatorProject/Temp/FSTimeGet-f2e4fb4b372c0c14b8f54f41c14cde42
PredatorProject/Temp/FSTimeGet-c7b10e11468ea99419690024f387d380
PredatorProject/Temp/FSTimeGet-e648c0d9762c8c640845c548ed961a88
PredatorProject/Temp/UnityLockfile
PredatorProject/Temp/workerlic
